body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header-content {
    margin: 25px;
    margin-bottom: 30px;
}

.header-content a {
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 4px;
    font-size: 22px; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100%;
    padding-bottom: 100%;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
}

.header-content a:hover {
    background-color: #bdbdbd;
}

.header-right {
    float: right;
}

.header-content img {
    height: 40px;
}

.content-avatar {
    padding: 10%;
    width: 500px;
    height: 300px;
}

.content-label {
    margin-top: 5%;
    margin-right: 24%;
    margin-left: 20%;
    color: black;
}

@media screen and (min-width: 700px) {
    .content {
        display: flex;
    }

    .content-label {
        margin-top: 17%;
        margin-left: 0%;
    }

    .content-avatar {
        width: 300px;
        height: 180px;
    }
}
